h4 {
  margin-left: 30px;
}

input {
  margin-left: 30px;
  border: 1px solid white;
  border-radius: 7px;
  background-color: transparent;
  width: 400px;
}

input:focus {
  border-color: cornflowerblue;
  outline: 0;
}

#taskDesc {
  font-family: Arial, serif;
  font-style: italic;
  font-size: 16px;
}

#status {
  font-family: Arial, serif;
  font-weight: bold;
  font-size: 16px;
}

p#pauseButtons {
  margin-left: 30px;
}

.PauseTimer {
  margin-top: 10px;
}

.PauseTimer span {
  border: 1px dashed green;
  margin-left: 30px;
}

.ActivityTimer {
  margin-top: 10px;
}

.ActivityTimer span {
  border: 1px solid orange;
}

